<section class="hero is-fullheight is-link">
  <div class="hero">


<h1 class="title is-1">Listing Meals</h1>
<%= link_to 'Back', :back %>
<a href="/">Home</a>
<div class="columns is-multiline">
  <% @meals.each do |meal| %>
    <div class="column is-one-quarter">
  <div class="card">
    <div class="card-image">
      <figure class="image is-240x240">
        <img src="<%= meal.thumb %>" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4" style="color: black"><em><%= meal.name %></em></p>
        </div>
      </div>
      <%= link_to 'Show', meal_path(meal) %>
      <%= link_to 'Edit', edit_meal_path(meal) %>
      <%= link_to 'Destroy', meal_path(meal),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
    </div>
  <% end %>
</div>
  </div>
</section>